@import "vars"
@import "susy"
@import "normalize.scss/normalize"

body
    margin: 0
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
    background-color: white

a
    color: #000


.header
    font-family: $bold-font
    background-color: #fff
    box-shadow: 3px 3px 4px 3px rgba(0, 0, 0, 0.3)
    position: fixed
    width: 100%
    z-index: 600
    ul
        margin: 0
        padding: 0
        list-style: none
        overflow: hidden
        background-color: #fff
    li a
        display: block
        padding: 20px 20px
        border-right: 1px solid #f4f4f4
        text-decoration: none
        &:hover
            background-color: #f4f4f4
    .menu-btn:hover
        background-color: #f4f4f4
    .logo
        margin: 10px
        display: block
        float: left
        font-size: 2em
        padding: 0 10px
        text-decoration: none
        color: white
        background-color: black
    .menu
        clear: both
        max-height: 0
        transition: max-height .2s ease-out
    .menu-icon
        cursor: pointer
        display: inline-block
        float: right
        padding: 28px 20px
        position: relative
        user-select: none
        .navicon
            background: #333
            display: block
            height: 2px
            position: relative
            transition: background .2s ease-out
            width: 18px
            &:before, &:after
                background: #333
                content: ''
                display: block
                height: 100%
                position: absolute
                transition: all .2s ease-out
                width: 100%
            &:before
                top: 5px
            &:after
                top: -5px
    .menu-btn
        display: none
        &:checked ~ .menu
            max-height: 240px
            .menu-icon
                .navicon
                    background: transparent
                    &:before
                        transform: rotate(-45deg)
                    &:after
                        transform: rotate(45deg)
                &:not(.steps) .navicon
                    &:before, &:after
                        top: 0



.section
    overflow: hidden
    margin: auto
    max-width: 1400px
    a
        position: relative
        float: left
        width: 100%
        img
            width: 100%
            display: block
        span
            color: #fff
            position: relative
            left: 5%
            bottom: 5%
            font-size: 2em
            text-shadow: 1px 1px 0 #000

.section-split a
    span
        display: none
    &:hover span
        display: block


.main
    margin-top: 60px
    @include span(12 nest)
    &_photo
        width: 100%

.none
    margin: 0
    opacity: 0
    display: none

@media (min-width: 1031px)
    .section-split a
        width: 50%
    .header
        li
            float: left
            a
                padding: 20px 30px
        .menu
            clear: none
            float: right
            max-height: none
        .menu-icon
            display: none
@media (min-width: 977px)
    .none
        display: block





.plate-board

    position: relative
    bottom: 50px
    margin: 0 10%

.plate
    z-index: 300
    @include span(4)
    background-color: $accent
    display: flex
    align-items: center
    flex-direction: column
    justify-content: center
    .desc
        z-index: 400
        position: relative
        bottom: 20px
        p
            text-align: center
            color: white
        a
            text-decoration: none
            color: silver
    &_dec
        width: 48px
        height: 48px
        background-color: $accent
        border-radius: 100px
        position: relative
        top: -20px
        color: white
        i
            position: relative
            left: 22%
            top: 17%
    &:nth-child(3)
        .plate_dec
            i
                left: 30%
    .bg-fa
        z-index: 350
        position: absolute
        color: white
        opacity: 0.1


.services
    margin-top: 30px
    @include span(12)
    &-left
        @include span(4)
        img
            @include span(4)
        p
            @include span(8)
    &-mid
        @include span(4)
    &-right
        @include span(4)
        img
            @include span(4)
        p
            @include span(8)
    &-block
        @include span(12)
        margin-bottom: 10px






@media (max-width: 836px)
    .diagnostic-m
        margin-top: 40%
    .plate-board
        margin: 0
    .services
        &-left
            @include span(5)
        &-mid
            @include span(2)
            visibility: hidden
        &-right
            @include span(5)
        &-block
            height: 95px

.headliner
    background-color: black
    color: white
    font-family: $bold-font
    font-size: 3em
    text-align: center
    margin: 3% 0

.about
    @include span(12)
    margin: 0
    width: 100%
    img
        width: 100%
    .headliner
        margin:
            right: 10%
            left: 10%

@media (max-width: 836px)
    .diagnostic-m
        margin-top: 40%
    .plate-board
        margin: 0
    .services
        &-left
            @include span(5)
        &-mid
            @include span(2)
            visibility: hidden
        &-right
            @include span(5)
        &-block
            height: 95px
    .about
        .headliner
            margin:
                right: 0
                left: 0

















